.feed {
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 120px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:930px){
    .feed{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width:835px){
    .feed{
        padding-left: 50px;
        padding-right: 10px;
    }
}
@media (max-width:810px){
    .feed{
        padding-left: 20px;
        padding-right: 5px;
    }
}
@media (max-width:560px){
    .feed{
        padding-left: 1px;
        padding-right: 1px;
    }
}